[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pbxproj = {editable = true, git = "https://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@github.com/i-r-l/mod-pbxproj"}
pyyaml = "*"

[requires]
python_version = "3.9"
