KUBECONFIG=./kube/config

DOCKER_HUB_USERNAME=trumanpurnell
DOCKER_REGISTRY=trumanpurnell

AWS_REGION=us-west-2
AWS_ACCOUNT_ID=718734850255

EKS_VERSION=1.28
EKS_ROLE_NAME=sage-eks-role
EKS_CLUSTER_NAME=sage-cluster
EKS_NODE_GROUP_NAME=sage-node-group
EKS_DNS_POLICY_NAME=sage-dns-policy

DB_REPO=mongo
DB_IMAGE_TAG=latest
DB_PORT=27017
DB_SERVICE_NAME=db-service
DB_DEPLOYMENT_NAME=db-deployment
DB_USERS_COLLECTION=users
DB_SIGNALING_COLLECTION=signaling
MONGO_INITDB_DATABASE=sagedb
MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=password

CONFIG_MAP_NAME=sage-configmap
SECRET_NAME=sage-secret

APP_NAME=sage
APP_REPO=sage
APP_INGRESS_NAME=sage-ingress
APP_IMAGE_TAG=0.1.5
APP_PORT=3000
APP_SERVICE_NAME=sage-service
APP_DEPLOYMENT_NAME=sage-deployment
APP_TEAM_ID=NLVNJY4FVT
APP_BUNDLE_ID=trumanpurnell.Slide
APP_KEY_ID=2AH2XL345Z
APP_DOMAIN=sage.dating
APP_KEY_PATH=./certs/AuthKey_2AH2XL345Z.p8

DNS_SERVICE_NAME=external-dns-service

OAUTH2_PROXY_PORT=4180
OAUTH2_PROXY_PROVIDER=oidc
OAUTH2_PROXY_UPSTREAM=http://sage.dating
OAUTH2_PROXY_CLIENT_ID=trumanpurnell.Slide
OAUTH2_PROXY_EMAIL_DOMAINS=*
OAUTH2_PROXY_SET_XAUTHREQUEST=true
OAUTH2_PROXY_SKIP_JWT_BEARER_TOKENS=true
OAUTH2_PROXY_NAME=oauth2-proxy
OAUTH2_PROXY_INGRESS_NAME=oauth2-proxy-ingress
OAUTH2_PROXY_OIDC_ISSUER_URL=https://appleid.apple.com
OAUTH2_PROXY_COOKIE_SECRET=rabbles-rabbles-rabbles-rabbles-
OAUTH2_PROXY_CLIENT_SECRET=rabbles-rabbles-rabbles-rabbles-

NGINX_NAME=nginx
NGINX_INGRESS_NAME=nginx
